@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'lexend';
  src: url('./fonts/lexend/lexend-def.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: lexend;
  color: black
}